@font-face {
    font-family: NunitoSans;
    src: url(/static/NunitoSans.ttf);
}

body{
    font-family: NunitoSans;
    padding: 25px 10vw 75px;
}

nav {
    background-color: #eee;
    overflow: hidden;
    scroll-behavior: smooth;
}
nav .container {
    height: calc(3em + 4px);
}

nav .container section {
    padding: calc(1em + 2px);
    width: 100vw;
}

nav .container section a {
    border: solid 1px transparent;
    padding: 1em;
}

.banner {
    width: 94.95%;
    height: 200px;        
    background: url("images/banner.jpg") no-repeat;
    background-size: cover;
    padding: 20px 2vw 20px;
}

.footer {
    bottom: 0;
    left: 0;
    right: 0;
    padding: 2rem;
    background: lightgray;
    color: black;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
  }

p, a {
    margin: 1em;
}

.nomargin {
    margin: 0;
}

h1, h2, h3 {
    margin: 0.5em;
}

/* Used for grids on posts and comments */

.grid-container {
    display: grid;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    grid-template-columns: 75fr 25fr;
    gap: 10px;
    background-color: #ffffff;
    padding: 10px;
}

.grid-container > div {
    background-color: rgba(230, 239, 244, 0.8);
    text-align: left;
    /* The order of padding is top, left, bottom, right. */
    padding: 10px 15px 10px 15px;
}

/* Used for content inside grids */
/* posttitle postcontent username userabout commentcontent commentauthor */

.posttitle {
    font-size: 1.5em;
    font-weight: bold;
}

.postcontent .commentcontent .username .userabout {
    font-size: 1.2em;
}

