{# templates/post.html #}

{% extends "base.html" %}

{% block content %}

<div class="grid-container">
    <div class="post">
        <p class="nomargin posttitle">{{ post[2] }}</p>
        <p class="nomargin postcontent">{{ post[3]|safe }}</p>
        <hr>
        {{ "this is where the users optional decoration would go"|safe }}
        <p class="nomargin">Posted on {{ post[5] }} at {{ post[6] }}</p>
    </div>

    <div class="author">
        <p class="nomargin username">{{ user[1] }}</p>
        <p class="nomargin userabout">{{ user[4] }}</p>
        <p class="nomargin userabout">{{ user[5] }}</p>
    </div>
</div>

<hr>

<h3>Comments</h3>

{% for comment in comments %}
<div class="grid-container">
    <div class="commentcontent">
        {{ comment[2]|safe }}
        <hr>
        {{ "this is where the users optional decoration would go"|safe }}
        <p class="nomargin">Posted on {{ comment[5] }} at {{ comment[6] }}</p>
    </div>

    <div class="commentauthor">
        <p class="nomargin username">{{ comment[4] }}</p>
        <p class="nomargin userabout">{{ comment[7][4] }}</p>
        <p class="nomargin userabout">{{ comment[7][5] }}</p>
    </div>
</div>
<hr>
{% endfor %}
{% endblock content %}